In [38]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv("C:\\Users\\Zahidul Islam\\Downloads\\m35 (1).csv")

In [30]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA

In [11]:
df.head(10)

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA
5,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,144.36 AED,6.000 EA,NaN,6.000 EA
6,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,50314,AL BUSTAN PHARMACY DEIRA,50314,Private,48.12 AED,2.000 EA,NaN,2.000 EA
7,7.2022,ASTRA ZENECA,7/2/2022,M350800,INDERAL 40MG TABS 50,MPC Dubai Sales Off,Dubai,79898,NEW AL KANZ PHARMACY (L.G),79898,Private,25.32 AED,2.000 EA,NaN,2.000 EA
8,7.2022,ASTRA ZENECA,7/2/2022,M350800,INDERAL 40MG TABS 50,MPC Dubai Sales Off,Dubai,83565,V CARE PHARMACY - DUBAI,83565,Private,316.50 AED,25.000 EA,NaN,25.000 EA
9,7.2022,ASTRA ZENECA,7/2/2022,M350800,INDERAL 40MG TABS 50,MPC Dubai Sales Off,Dubai,83802,LIFE AL QUSAIS PHY -(L.G),83802,Private,37.98 AED,3.000 EA,NaN,3.000 EA

In [12]:
df.tail(10)

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
4907,7.2022,ASTRA ZENECA,7/29/2022,M360118,PULMICORT NEB.SOL OF 0.5MG OF 20'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,NaN,NaN,88.000 EA,88.000 EA
4908,7.2022,ASTRA ZENECA,7/29/2022,M360118,PULMICORT NEB.SOL OF 0.5MG OF 20'S,MPC Dubai Sales Off,Bur Dubai,78468,NAJMAT AL SANA DRUG STORE LLC,78468,Private,"2,025.84 AED",12.000 EA,NaN,12.000 EA
4909,7.2022,ASTRA ZENECA,7/29/2022,M360118,PULMICORT NEB.SOL OF 0.5MG OF 20'S,MPC Abudhabi Off,Abu Dhabi,424,AL MAZROUI PHY-AUH,424,Private,168.82 AED,1.000 EA,NaN,1.000 EA
4910,7.2022,ASTRA ZENECA,7/29/2022,M360118,PULMICORT NEB.SOL OF 0.5MG OF 20'S,MPC Abudhabi Off,Al Ain,167,EMIRATES INT'L HOSP(PHY)-AL AIN,167,Private,"8,441.00 AED",50.000 EA,NaN,50.000 EA
4911,7.2022,ASTRA ZENECA,7/29/2022,M360118,PULMICORT NEB.SOL OF 0.5MG OF 20'S,MPC Abudhabi Off,Al Ain,71970,AMANA HEALTHCARE MEDICAL AND,71970,Private,"14,349.70 AED",85.000 EA,NaN,85.000 EA
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4917 entries, 0 to 4916
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cal. year / month  4917 non-null   float64
 1   Material Group     4917 non-null   object
 2   Calendar Day       4917 non-null   object
 3   Material           4917 non-null   object
 4   Brand              4917 non-null   object
 5   Sales Office       4917 non-null   object
 6   Sales District     4917 non-null   object
 7   Sold-to party      4917 non-null   int64
 8   Acounts            4917 non-null   object
 9   Ship-To Party      4917 non-null   int64
 10  Customer group 1   4917 non-null   object
 11  SalesValue         4896 non-null   object
 12  SalesQty           4896 non-null   object
 13  FocQty             304 non-null    object
 14  Total Qty(Ea)      4917 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 576.3+ KB

In [15]:
df.isnull().sum()

Cal. year / month       0
Material Group          0
Calendar Day            0
Material                0
Brand                   0
Sales Office            0
Sales District          0
Sold-to party           0
Acounts                 0
Ship-To Party           0
Customer group 1        0
SalesValue             21
SalesQty               21
FocQty               4613
Total Qty(Ea)           0
dtype: int64

In [16]:
df.isnull()

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4913,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4914,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4915,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4916,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.columns

Index(['Cal. year / month', 'Material Group', 'Calendar Day', 'Material',
       'Brand', 'Sales Office', 'Sales District', 'Sold-to party', 'Acounts',
       'Ship-To Party', 'Customer group 1', 'SalesValue', 'SalesQty', 'FocQty',
       'Total Qty(Ea)'],
      dtype='object')

In [7]:
df.describe()

       Cal. year / month  Sold-to party  Ship-To Party
count       4.917000e+03    4917.000000   4.917000e+03
mean        7.202200e+00   68585.625381   4.542651e+06
std         2.380560e-13   39142.366879   6.674247e+07
min         7.202200e+00     157.000000   1.570000e+02
25%         7.202200e+00   45851.000000   4.585200e+04
50%         7.202200e+00   75560.000000   7.586800e+04
75%         7.202200e+00  104769.000000   1.050200e+05
max         7.202200e+00  124728.000000   1.000001e+09

In [8]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cal. year / month,4917.0,7.202200e+00,2.380560e-13,7.2022,7.2022,7.2022,7.2022,7.202200e+00
Sold-to party,4917.0,6.858563e+04,3.914237e+04,157.0000,45851.0000,75560.0000,104769.0000,1.247280e+05
Ship-To Party,4917.0,4.542651e+06,6.674247e+07,157.0000,45852.0000,75868.0000,105020.0000,1.000001e+09

In [15]:
lf = pd.read_csv("C:\\Users\\Zahidul Islam\\Downloads\\tips.csv")

In [16]:
lf

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560000e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.480000e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.010000e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.680000e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.830000e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.300000e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.510000e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.010000e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.380000e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.510000e+15,Thur672

In [17]:
lf['tip%']= df['tip']/df['total_bill']*100

In [19]:
lf.head(15)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip%
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560000e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.480000e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.010000e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.680000e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.830000e+15,Sun2251,14.680765
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.130000e+14,Sun9679,18.623962
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.220000e+15,Sun5985,22.805017
7,26.88,3.12,Male,No,Sun,Dinner,4,6.72,Robert Buck,3.510000e+15,Sun8157,11.607143
8,15.04,1.96,Male,No,Sun,Dinner,2,7.52,Joseph Mcdonald,3.520000e+15,Sun6820,13.031915
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3.530000e+15,Sun3775,21.853857
10,10.27,1.71,Male,No,Sun,Dinner,2,5.14,William Riley,5.660000e+11,Sun2546,16.650438
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.580000e+15,Sun6686,14.180374
12,15.42,1.57,Male,No,Sun,Dinner,2,7.71,Chad Harrington,5.770000e+11,Sun1300,10.181582
13,18.43,3.00,Male,No,Sun,Dinner,4,4.61,Joshua Jones,6.010000e+15,Sun2971,16.277808
14,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,3.000000e+13,Sun3848,20.364127

In [21]:
lf[lf['total_bill']>40]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip%
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.600000e+15,Sat8139,13.942407
95,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,1.800000e+14,Fri9628,11.774956
102,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.800000e+14,Sat6240,5.643341
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.360000e+15,Thur3621,12.138869
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3.520000e+15,Sun7518,10.379905
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.470000e+15,Sat1954,19.681165
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.110000e+15,Sun2337,7.717751
184,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3.550000e+15,Sun5140,7.398274
197,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.540000e+15,Thur9313,11.598237
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.760000e+11,Sat4590,18.621974

In [22]:
lf[lf['total_bill']>40].count()

total_bill          10
tip                 10
sex                 10
smoker              10
day                 10
time                10
size                10
price_per_person    10
Payer Name          10
CC Number           10
Payment ID          10
tip%                10
dtype: int64

In [24]:
lf['total_bill']<25

0       True
1       True
2       True
3       True
4       True
       ...
239    False
240    False
241     True
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [25]:
lf[lf['sex']=='Male']

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip%
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.480000e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.010000e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.680000e+15,Sun5260,13.978041
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.130000e+14,Sun9679,18.623962
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.220000e+15,Sun5985,22.805017
...,...,...,...,...,...,...,...,...,...,...,...,...
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3.540000e+15,Sat5032,7.936508
237,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.280000e+15,Sat2929,3.563814
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.300000e+15,Sat2657,20.392697
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.010000e+15,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.380000e+12,Sat17,9.820426

In [26]:
lf[lf['sex']=='Male'].count()

total_bill          157
tip                 157
sex                 157
smoker              157
day                 157
time                157
size                157
price_per_person    157
Payer Name          157
CC Number           157
Payment ID          157
tip%                157
dtype: int64

In [27]:
lf.describe()

,total_bill,tip,size,price_per_person,CC Number,tip%
count,244.000000,244.000000,244.000000,244.000000,2.440000e+02,244.000000
mean,19.785943,2.998279,2.569672,7.888197,2.563313e+15,16.080258
std,8.902412,1.383638,0.951100,2.914234,2.369139e+15,6.107220
min,3.070000,1.000000,1.000000,2.880000,6.040679e+10,3.563814
25%,13.347500,2.000000,2.000000,5.800000,3.040000e+13,12.912736
50%,17.795000,2.900000,2.000000,7.255000,3.525000e+15,15.476977
75%,24.127500,3.562500,3.000000,9.390000,4.552500e+15,19.147549
max,50.810000,10.000000,6.000000,20.270000,6.600000e+15,71.034483

In [45]:
df['SalesValue(AED)']= df['SalesValue']

In [46]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea),SalesValue(AED)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735,"146,244.00 AED"
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1,208.92 AED
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA,"20,892.00 AED"
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA,208.92 AED
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA,240.60 AED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA,"2,340.50 AED"
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA,"4,681.00 AED"
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA,"22,543.50 AED"
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA,"37,984.00 AED"
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA,"175,576.00 AED"

In [34]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea),SalesValue(AED)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735,"146,244.00 AED"
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1,208.92 AED
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA,"20,892.00 AED"
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA,208.92 AED
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA,240.60 AED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA,"2,340.50 AED"
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA,"4,681.00 AED"
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA,"22,543.50 AED"
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA,"37,984.00 AED"
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA,"175,576.00 AED"

In [43]:
df = df.drop("SalesValue", axis=1)

In [44]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesQty,FocQty,Total Qty(Ea),SalesValue(AED)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,700.000 EA,35.000 EA,735,"146,244.00 AED"
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,1.000 EA,NaN,1,208.92 AED
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,100.000 EA,5.000 EA,105.000 EA,"20,892.00 AED"
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,1.000 EA,NaN,1.000 EA,208.92 AED
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,10.000 EA,NaN,10.000 EA,240.60 AED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,50.000 EA,NaN,50.000 EA,"2,340.50 AED"
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,100.000 EA,NaN,100.000 EA,"4,681.00 AED"
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,150.000 EA,12.000 EA,162.000 EA,"22,543.50 AED"
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,200.000 EA,24.000 EA,224.000 EA,"37,984.00 AED"
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,800.000 EA,96.000 EA,896.000 EA,"175,576.00 AED"

In [45]:
df['SalesQty(ABD)']= df['SalesQty']

In [46]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesQty,FocQty,Total Qty(Ea),SalesValue(AED),SalesQty(ABD)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,700.000 EA,35.000 EA,735,"146,244.00 AED",700.000 EA
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,1.000 EA,NaN,1,208.92 AED,1.000 EA
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,100.000 EA,5.000 EA,105.000 EA,"20,892.00 AED",100.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,1.000 EA,NaN,1.000 EA,208.92 AED,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,10.000 EA,NaN,10.000 EA,240.60 AED,10.000 EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,50.000 EA,NaN,50.000 EA,"2,340.50 AED",50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,100.000 EA,NaN,100.000 EA,"4,681.00 AED",100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,150.000 EA,12.000 EA,162.000 EA,"22,543.50 AED",150.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,200.000 EA,24.000 EA,224.000 EA,"37,984.00 AED",200.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,800.000 EA,96.000 EA,896.000 EA,"175,576.00 AED",800.000 EA

In [51]:
df = pd.DataFrame.from_dict({
    'Name': ['Nik', 'Kate', 'Evan', 'Kyra'],
    'Age': [31, 30, 40, 33],
    'Location': ['Toronto', 'London', 'Kingston', 'Hamilton']
})

In [53]:
df = pd.read_csv("C:\\Users\\Zahidul Islam\\Downloads\\m35 (1).csv")

In [54]:
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA

In [55]:
df.rename(columns = {'Acounts':'Acounts Name'})

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts Name,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA

In [57]:
df.columns.str.lower()
df

,Cal. year / month,Material Group,Calendar Day,Material,Brand,Sales Office,Sales District,Sold-to party,Acounts,Ship-To Party,Customer group 1,SalesValue,SalesQty,FocQty,Total Qty(Ea)
0,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"146,244.00 AED",700.000 EA,35.000 EA,735
1,7.2022,ASTRA ZENECA,7/2/2022,M350764,FORXIGA 10MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1
2,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Dubai,123572,WESTERN DRUG & MEDICAL EQUIPMENT ST,123572,Private,"20,892.00 AED",100.000 EA,5.000 EA,105.000 EA
3,7.2022,ASTRA ZENECA,7/2/2022,M350765,FORXIGA 5MG TABS OF 28S,MPC Dubai Sales Off,Deira Dubai,19443,AL BARAHA PHARMACY LLC. - DUBAI,19443,Private,208.92 AED,1.000 EA,NaN,1.000 EA
4,7.2022,ASTRA ZENECA,7/2/2022,M350776,TENORMIN 50MG TABS 28,MPC Dubai Sales Off,Deira Dubai,3628,MEDICLINIC WELCARE HOSPITAL LLC,3628,Private,240.60 AED,10.000 EA,NaN,10.000 EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Deira Dubai,67490,MEDSEVEN DRUG STORE LLC,67490,Private,"2,340.50 AED",50.000 EA,NaN,50.000 EA
4913,7.2022,ASTRA ZENECA,7/29/2022,M360182,LOSEC MUPS 20MG TABS OF 14'S,MPC Dubai Sales Off,Bur Dubai,1278,PHARMAETHICS MEDICAL SUPPLIES-DXB,1278,Private,"4,681.00 AED",100.000 EA,NaN,100.000 EA
4914,7.2022,ASTRA ZENECA,7/29/2022,M360202,SYMBICORT RAPIHALER 160/4.5 MCG 120DOSE,MPC Abudhabi Off,Abu Dhabi,425,NEW MEDICAL CENTRE TRADING LTD,425,Private,"22,543.50 AED",150.000 EA,12.000 EA,162.000 EA
4915,7.2022,ASTRA ZENECA,7/31/2022,M360047,SYMBICORT 320/9MCG 60 DOSES,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"37,984.00 AED",200.000 EA,24.000 EA,224.000 EA
4916,7.2022,ASTRA ZENECA,7/31/2022,M360048,SYMBICORT 160/4.5 MCG 120DOSE,MPC Dubai Sales Off,Sharjah,43362,SHARJAH DRUG STORE LLC,43362,Private,"175,576.00 AED",800.000 EA,96.000 EA,896.000 EA